/* Make the overall font 15px */
:root {
  --text-base: 0.9375rem !important;
}

/* Make the main content area full width on large screens */
@media (min-width: 1024px) {
  #content-area {
    max-width: 100% !important;
    margin: 0 !important;
    padding-left: calc(var(--spacing) * 10) !important;
    padding-right: 0 !important;
  }
}

/* Increase spacing for h2 */
h2 {
  margin-top: 3em !important;

  &:first-child {
    margin-top: 1em !important;
  }
}

/* Increase spacing for h3 */
h3 {
  margin-top: 2em !important;
}

/* Fix CSS values */
.prose {
  font-size: var(--text-base);
}

/* Decrease spacing for bullets */
.prose li {
  margin-top: 0.3em !important;
  margin-bottom: 0.3em !important;
}

/* Increase bottom spacing for sidebar */
#sidebar-content [data-has-overflow-y][tabindex] {
  padding-bottom: calc(var(--spacing) * 12) !important;
}
